<a href="https://colab.research.google.com/github/ai7dnn/2021-AI-for-everyone/blob/main/code/00_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 세미콜론

### 프로그래밍 언어들은 구문이 끝날 때 ;(세미콜론)을 붙여야 합니다.

### 파이썬은 세미콜론을 붙이지 않아도 됨

In [ ]:
print('Hello, world!')

Hello, world!

In [ ]:
print('Hello, world');

Hello, world

### 여러 구분을 사용할 때 세미콜론으로 구분

In [ ]:
print('Hello!'); print('JeongSook')

Hello!
JeongSook

# 2 주석
### 주석은 프로그램의 실행에 영향을 주지 않습니다.
### 한 줄 주석과 범위 주석 두 가지가 있는데,,

### 한줄 주석

In [ ]:
print('Hello, world')  #한글 주석

Hello, world

In [ ]:
# print('Hello, world')
# 블록 주석을 작성할 때는 코드를 읽기 쉽도록 # 뒤에 공백을 한 칸 띄웁니다.

# 3 들여쓰기

### if의 다음줄은 항상 들여쓰기를 해야 합니다. (안 하면 문법 에러남)
### 들여쓰기는 공백 2칸, 4칸, 탭(tab)등 여러가지 방법

In [ ]:
a=10
if a == 10:
    print('a는 10입니다.')
else:
    print('a는 10 아닙니다.')

a는 10입니다.

In [ ]:
a=10
if a == 8:
    print('a는 10입니다.')
else:
    print('a는 10 아닙니다.')

a는 10 아닙니다.

# 4 코드 블록
### 같은 블록은 들여쓰기 칸 수가 같아야 하고 , 공백과 탭 섞어 쓰면 안 됩니다.

In [ ]:
a=10
if a == 10:
    print('a는')
    print('10입니다.')

a는
10입니다.