<a href="https://colab.research.google.com/github/ai7dnn/2021-AI-for-everyone/blob/main/code/02_input_processing_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 입력, 연산, 출력
- 숫자 1과 2를 더한다

In [ ]:
1+2

3

- 숫자 5를 변수 var1에 할당(저장)한다

In [ ]:
var1 = 5

- var1 변수이름을 입력하고 실행한다.

In [ ]:
var1

5

- var1 변수에 새로운 값(숫자 10)을 입력한다.

In [ ]:
var1 = 10
var1

10

- 숫자 20을 var2 변수에 저장한다. 
- var2 변수이름을 입력하고 실행한다.

In [ ]:
var2 = 20
var2

20

- var1 변수와 var2 변수를 더하고, 그 결과를 var3 변수에 할당한다. 
- var3 변수이름을 입력하고 실행한다.

In [ ]:
var3 = var1 + var2
var3

30

- var1 변수를 print 함수로 출력한다.

In [ ]:
print(var1)

10

- var1 변수와 var2 변수를 더하는 식을 print 함수에 입력하여 덧셈의 결과를 화면에 출력한다.

In [ ]:
print(var1 + var2)

30

- var1 변수와 var2 변수를 쉼표(,)로 구분하여 print 함수에 입력한다.

In [ ]:
print(var1, var2)

10 20

- "덧셈: " 문자열 다음에 연산식(var1 + var2)의 결과값이 출력되도록 쉼표(,)로 구분하여 print 함수에 입력한다.

In [ ]:
print("덧셈: ", var1 + var2)

덧셈:  30