<a href="https://colab.research.google.com/github/ai7dnn/2021-AI-for-everyone/blob/main/code/13_function_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- add_one 함수 정의 (숫자를 입력받아서 1을 더한 값을 반환)

In [ ]:
def add_one(num):
    return num + 1

answer = add_one(1)
print(answer)

2

- 숫자 리스트의 원소에 각각 1을 더하기 (add_one 함수 사용)

In [ ]:
add_one_list = []
for x in [1, 2, 3]:
    y = add_one(x)
    add_one_list.append(y)

print(add_one_list)

[2, 3, 4]

- 숫자 리스트의 원소에 각각 1을 더하기 (lambda 함수 사용)

In [ ]:
add_one_lambda = []
add_func = lambda x: add_one_lambda.append(x+1)
for x in [1, 2, 3]:
    add_func(x)

print(add_one_lambda)

[2, 3, 4]

- 두 숫자를 더하는 lambda 함수 만들기

In [ ]:
new_add_func = lambda x, y: x+y
answer = new_add_func(2, 3)
print(answer)

5