<a href="https://colab.research.google.com/github/ai7dnn/2021-AI-for-everyone/blob/main/code/3_1_pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- pandas 라이브러리 불러오기

In [1]:
import pandas as pd
print(pd.__version__)

1.1.5

- 문자열을 원소로 갖는 1차원 배열 - 리스트

In [2]:
data1 = ['a', 'b', 'c', 'd', 'e']
print(data1)
print("자료형: ", type(data1))

['a', 'b', 'c', 'd', 'e']
자료형:  <class 'list'>

- 리스트를 판다스 시리즈로 변환

In [3]:
sr1 = pd.Series(data1)
print("자료형: ", type(sr1))

자료형:  <class 'pandas.core.series.Series'>

In [4]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [5]:
sr1[0]

'a'

In [6]:
sr1[0:3]

0    a
1    b
2    c
dtype: object

In [ ]:
sr1.loc[0]

'a'

In [ ]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

- 투플을 판다스 시리즈로 변환

In [16]:
data2 = (1, 2, 3.14, 100, -10)
sr2 = pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

- 인덱스를 가지는 시리즈

In [8]:
sr3 = pd.Series((1, 2, 3.14, 100, -10), index=list("abcde"))
sr3

a      1.00
b      2.00
c      3.14
d    100.00
e    -10.00
dtype: float64

In [9]:
sr3['b']

2.0

In [10]:
sr3[1]

2.0

In [11]:
sr3['a':'b']

a    1.0
b    2.0
dtype: float64

In [14]:
sr3[0:1]

a    1.0
dtype: float64

- 시리즈를 결합하여 데이터프레임으로 변환

In [17]:
dict_data = {'c0':sr1, 'c1':sr2} 
df1 = pd.DataFrame(dict_data)  
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [18]:
type(df1)

pandas.core.frame.DataFrame

- 데이터프레임의 열(column)

In [19]:
df1.columns

Index(['c0', 'c1'], dtype='object')

In [20]:
df1.columns = ['string', 'number']
df1

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

- 데이터프레임의 행 인덱스(row index)

In [21]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
df1.index = ['r0', 'r1', 'r2', 'r3', 'r4']
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

- 데이터프레임의 원소 선택

In [23]:
df1.loc['r2', 'number']

3.14

- 데이터프레임의 부분 추출

In [24]:
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [25]:
df1.loc['r2':'r3', 'string':'number']

   string  number
r2      c    3.14
r3      d  100.00

In [26]:
df1.loc['r2':'r3', 'number']

r2      3.14
r3    100.00
Name: number, dtype: float64

In [27]:
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [28]:
df1.loc['r2', 'string':'number']

string       c
number    3.14
Name: r2, dtype: object

In [29]:
df1.loc[:, 'string']

r0    a
r1    b
r2    c
r3    d
r4    e
Name: string, dtype: object

In [30]:
df1.loc['r2':'r3', :]

   string  number
r2      c    3.14
r3      d  100.00